@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
}

header {
    padding: 30px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("./images/bg-header-desktop.png");
    background-size: cover;
}

.cabecalho {
    text-align: center;
    padding: 10px 0;
    width: 40%;
}

.cabecalho h2 {
    padding: 5px 0;
}

.btn {
    padding: 20px 0;
}

.btn button {
    padding: 10px 25px;
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
    margin: 0 10px;
    border-radius: 20px;
    cursor: pointer;
}

.btn button.btn-1 {
    background-color: #5dccbb;
    box-shadow: 2px 2px 8px hsl(171, 66%, 44%), 2px 2px 2px hsl(171, 66%, 44%);
}

.btn button.btn-2 {
    background-color: #8898fa;
    box-shadow: 2px 2px 8px hsl(233, 100%, 69%), 2px 2px 2px hsl(233, 100%, 69%);
}

.primeira__sessao {
    text-align: center;
    width: 45%;
    margin: auto;
}

.primeira__sessao h2 {
    padding: 15px 0;
}

.segunda-sessão {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 0;
}

.segunda__sessao img {
    height: 100%;
    width: 80%;
}

.segunda-sessão .texto___lateral div {
    margin-top: 40px;
    width: 65%;
}

.terceira-sessão {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.terceira-sessão img {
    height: 100%;
    width: 80%;
    margin: auto;
}

.terceira-sessão div:first-child {
    padding: 70px 0;
    width: 65%;
    margin: auto;
}

.quarta-sessão .funcoes__links {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 100px 0;
}

.quarta-sessão .funcoes__links div {
  width: 26%;
  margin: 0 30px;
}

.quarta-sessão .funcoes__links div img {
  margin: 10px 0 20px 0;
}

.quarta-sessão .logomarcas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    margin: 50px 30px;
}

.quinta_sessão {
    text-align: center;
    width: 46%;
    margin: auto;
}

footer .rodape{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    background-color: #f5f6f8;
    padding: 30px 30px;
}


.rodape .logo__rodape {
    width: 50px;
    height: 50px;
    margin: 0 70px;
    
}

.rodape ul {
    list-style: none;
    max-width: 400px;
}

ul li {
    display: inline-block;
    margin: 5px 20px;
}

a {
    color: hsl(171, 66%, 44%);
}

.icones__sociais{
    padding: 0 20px 0 0;
    transition: color 2s ease-in-out;
}

.icones__sociais:hover{
    color: #5dccbb;
}

footer p {
    text-align: center;
}


@media (max-width: 765px){
    header {
        background: url("./images/bg-header-mobile.png");
        background-size: cover;
        
    }

    .cabecalho {
        width: 100%;
    }

    .primeira__sessao {
        width: 80%;
    }

    .segunda-sessão {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .segunda-sessão .texto___lateral div {
        width: 76%;
        margin: 60px 12% auto;
        text-align: center;
    }

    .terceira-sessão div:first-child {
        width: 75%;
     
    }

    .quarta-sessão .funcoes__links {
        display: grid;
    }

    .quarta-sessão .funcoes__links div {
        width: 85%;
    }

    .quarta-sessão .logomarcas {
        display: grid;
        grid-gap: 4em;
        justify-content: center;
        align-items: center;
    }

    .quinta_sessão {
        width: 84%;
    }

    .btn button {
        margin: 10px 0;
    }

    footer .rodape {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
    }

    ul li {
        display: grid;
        margin: 20px 0;
    }

    .icones__sociais {
        margin: 10px;
    }
}