@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

*{
    font-size: 0;
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;
}

.cabecalho {
    position: relative;
}

.background__cabecalho{
    width: 100%;
    height: 100%; 
}

.logo__cabecalho {
    position: absolute;
    top: 150px;
    left: 900px;
}

.titulo__cabecalho {
    position: absolute;
    top: 320px;
    left: 615px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    font-size: 2.967rem;
}

.subtitulo__cabecalho {
    position: absolute;
    top: 405px;
    left: 620px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    font-size: 1.345rem;
    text-align: center;
    color: #afb3b6;
    
}

.btn {
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: 'Bai Jamjuree', sans-serif;
    

}

.btn .btn-primary {
    width: 200px;
    height: 40px;
    border-radius: 100px;
    margin: 0 -10px 20px 30px;
    background-color: #5dccbb;
    border: none;
    
}

.btn .btn-success {
    width: 200px;
    height: 40px;
    border-radius: 100px;
    margin: 0 -10px 20px 30px;
    background-color: #8896ff;
    border: none;
}
